.button {
  border-radius: 0.25rem;
  padding: 0.8rem 1.6rem;
  background: $main;
  color: $white;

  &__small {
    padding: 0.5rem 1.6rem !important;
    border-radius: 2rem;
  }
}

.css-1x06lk5 {
  background: $main !important;
  padding: 0.8rem 1.6rem !important;
  color: $white;

  &:focus {
    background: rgba($main, 0.6) !important;
  }
}
