.form {
  padding: 30px;
  border-radius: 4px;
  margin-top: 20px;
  box-shadow: 0 1rem 2rem $shadow-bg;
  background: $grey-light-1;

  & h1 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
  }
}
