.preloader {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: radial-gradient($white, $grey-color);

  & .css-u5juui {
    width: 5rem;
    height: 5rem;
  }
}

.userAvatar {
  display: flex;
  height: 100%;
  align-items: center;

  & .css-y9ryki {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 4px;
    // background: $main;
  }
}

.error {
  &__page {
    max-width: 100vw;
    position: absolute;
    top: 60%;
    transform: translate(0, -60%);
    width: 100vw;
    & .content {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;

      & h1 {
        font-size: 62px;
        font-weight: 700;
      }

      & p {
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
  }
}

.css-19e35k3 {
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-gap: 1em;
}

.products__sec {
  display: flex;

  & .category {
    flex-basis: 25%;
    min-width: 225px;
  }
}
