$main: #368cbf;
$main-blue: #101d2c;
$grey-bg: #f4f4f6;
$grey-light-1: #f9f7f6;
$grey-text: #777;
$grey-light-2: #aaa;
$green: #7ebc59;
$primary: #c69963;
$primary-dark: #b28451;
$yellow: #ffbf00;
$orange-color: #edae49;
$blue: #368cbf;
$red: #ed6a5a;
$cerise-color: #f00faa;
$white: #fff;
$grey-color: #eaebef;
$dark-grey-color: #a6a6a6;
$dark: #33363b;
$shadow-bg: rgba(51, 54, 59, 0.1);
$theme-off-bg-color: #f0f0f0;
$theme-font-color: #33363b;
$theme-border-color: #eaeaea;
$secondary-color: #368cbf;
$primary-color: #7ebc59;
$dark-purple-color: #303965;
